{% load static %}

<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Leonora Jewels</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<link rel="stylesheet" media="all" href="{% static 'css/style.css' %}">
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>


	<header id="header">
		<div class="container">
			<!-- <a href="index.html"  title="Leonora Jewels">Leonora Jewels</a> -->
			<a href="{% url 'image_list' %}" title="Leonora Jewels" >
			<img src="{% static 'images/logo5.png' %}"  style="height:60px; width:auto; vertical-align:middle;">
			<span style="font-size:24px; font-weight:bold; color:#d4af37; margin-left:10px;">Leonora Jewels</span>
		</a>
			<div class="right-links">
				<ul>
					<!-- <li><a href="#"><span class="ico-account"></span>Account</a></li> -->
					<li><a href="{% url 'login' %}"><span class="ico-signout"></span>Log In</a></li>
				</ul>
			</div>
		</div>
		<!-- / container -->
	</header>
	<!-- / header -->

	<nav id="menu">
		<div class="container">
			<div class="trigger"></div>
			<ul>
				<li><a href="{% url 'image_list' %}">New collection</a></li>
				<li><a href="{% url 'neck' %}">necklaces</a></li>
				<li><a href="{% url 'ear' %}">earrings</a></li>
				<li><a href="{% url 'ring' %}">Rings</a></li>
				<li><a href="{% url 'bracelet' %}">Bracelets</a></li>
				<li><a href="{% url 'about' %}">About us</a></li>
				<li><a href="{% url 'contact' %}">Contact us</a></li>
			</ul>
		</div>
		<!-- / container -->
	</nav>
	<!-- / navigation -->

	<div id="slider">
    <ul>
        <li>
		<img src="{% static 'images/desi-girl1.jpg' %}" alt="Desi Girl" style="width:100%; height:auto; object-fit:cover;">

            <h3>Make your life better</h3>
            <h2>Genuine diamonds</h2>
            <a href="#" class="btn-more">Read more</a>
        </li>
        <li>
            <img src="{% static 'images/desi-girl1.jpg' %}" alt="Desi Girl" style="width:100%; height:auto; object-fit:cover;">
            <h3>She will say “yes”</h3>
            <h2>Engagement ring</h2>
            <a href="#" class="btn-more">Read more</a>
        </li>
        <li>
            <img src="{% static 'images/desi-girl1.jpg' %}" alt="Desi Girl" style="width:100%; height:auto; object-fit:cover;">
            <h3>You deserve to be beauty</h3>
            <h2>Golden bracelets</h2>
            <a href="#" class="btn-more">Read more</a>
        </li>
    </ul>
</div>


	<!-- / body -->

		<div id="body">
		<div class="container">
			<div class="last-products">
				<h2>Last added products</h2>
				<section class="products">
					<article>
						<a href="{% url 'singleproduct' 26 %}"><img src="{% static 'images/r8_1_11zon.jpeg' %}"> 	 	</a>
						<h3>Excepteur sint occaecat</h3>
						<h4>₹1 850.00</h4>
						<a href="{% url 'add_to_cart' 26 %}" class="btn-add">Add to cart</a>
					</article>
					<article>
						<a href="{% url 'singleproduct' 2 %}"><img src="{% static 'images/necklace_2_11zon.jpeg' %}" alt="Rose Drop Earrings"></a>
						<h3>Lorem ipsum dolor</h3>
						<h4>₹990.00</h4>
						<a href="{% url 'add_to_cart' 2 %}" class="btn-add">Add to cart</a>
					</article>
					<article>
						<a href="{% url 'singleproduct' 5 %}"><img src="{% static 'images/ring4_3_11zon.jpeg' %}"> 	 	</a>
						<h3>cupidatat non proident</h3>
						<h4>₹1200.00</h4>
						<a href="{% url 'add_to_cart' 5 %}" class="btn-add">Add to cart</a>
					</article>
					<article>
						<a href="{% url 'singleproduct' 6 %}"><img src="{% static 'images/ring5_2_11zon.jpeg' %}" alt="Classic Hoops"></a>
        				<h3>Amethyst Ring</h3>
						
						<h4>₹2 650.00</h4>
						<a href="{% url 'add_to_cart' 6 %}" class="btn-add">Add to cart</a>
					</article>
					<article>
						<a href="{% url 'singleproduct' 3 %}"><img src="{% static 'images/bra4_5_11zon.jpeg' %}" alt="Diamond Studs"></a>
						<h3>Infinity Diamond Bracelet</h3>
						<h4>₹3 500.00</h4>
						<a href="{% url 'add_to_cart' 3 %}" class="btn-add">Add to cart</a>
					</article>
				</section>
			</div>
		
		
			<section class="quick-links">
				<article style="background-image: url(images/new.jpg)">
					<a href="{% url 'ring' %}" class="table">
						<div class="cell">
							<div class="text">
								<h4>Ring Collection</h4>
								<hr>
								<h3>Dolor sit amet</h3>
							</div>
						</div>
					</a>
				</article>
				<article class="red" style="background-image: url(images/resized_neck.jpg)">
					<a href="{% url 'neck' %}" class="table">
						<div class="cell">
							<div class="text">
								<h4>Necklace  Collection</h4>
								<hr>
								<h3>voluptatem</h3>
								<hr>
								<p>Accusantium</p>
							</div>
						</div>
					</a>
				</article>
				<article style="background-image: url(images/bracelet_coll.jpg)">
					<a href="{% url 'bracelet' %}" class="table">
						<div class="cell">
							<div class="text">
								<h4>Bracelets  Collection</h4>
								<hr>
								<h3>magnam aliquam</h3>
							</div>
						</div>
					</a>
				</article>
			</section>
		</div>
		<!-- / container -->
	</div>
	<!-- / body -->

	<footer id="footer">
		<div class="container">
			<div class="cols">
				<div class="col">
					<h3>Frequently Asked Questions</h3>
					<ul>
						<li><a href="#">Fusce eget dolor adipiscing </a></li>
						<li><a href="#">Posuere nisl eu venenatis gravida</a></li>
						<li><a href="#">Morbi dictum ligula mattis</a></li>
						<li><a href="#">Etiam diam vel dolor luctus dapibus</a></li>
						<li><a href="#">Vestibulum ultrices magna </a></li>
					</ul>
				</div>
				<div class="col media">
					<h3>Social media</h3>
					<ul class="social">
						<li><a href="#"><span class="ico ico-fb"></span>Facebook</a></li>
						<li><a href="#"><span class="ico ico-tw"></span>Twitter</a></li>
						<li><a href="#"><span class="ico ico-gp"></span>Google+</a></li>
						<li><a href="#"><span class="ico ico-pi"></span>Pinterest</a></li>
					</ul>
				</div>
				<div class="col contact">
					<h3>Contact us</h3>
					<p>Leonora Jewels INC.<br>54233 Avenue Street<br>New York</p>
					<p><span class="ico ico-em"></span><a href="#">contact@leonarajewels.com</a></p>
					<p><span class="ico ico-ph"></span>(590) 423 446 924</p>
				</div>
				<div class="col newsletter">
					<h3>Join our newsletter</h3>
					<p>Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium.</p>
					<form action="#">
						<input type="text" placeholder="Your email address...">
						<button type="submit"></button>
					</form>
				</div>
			</div>
			<p class="copy">Copyright 2013 Jewelry. All rights reserved.</p>
		</div>
		<!-- / container -->
	</footer>
	<!-- / footer -->


	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script>window.jQuery || document.write("<script src='js/jquery-1.11.1.min.js'>\x3C/script>")</script>
	<script src="{% static 'js/plugins.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
